1. Inspect the dataset
2. Check for missing values
3. Delete the columns you think not useful for creating models
4. Fill missing values with different techniques ie mean mode etc
5. Do encoding of columns you think may be useful
a. Use one hot encoding
b. Use label encoding
6. Scale the features you thing useful

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)

In [3]:
df = pd.read_csv('Cars93_miss (1).csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Rev.per.mile,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,4,1.8,140.0,6300.0,2890.0,Yes,13.2,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,6,3.2,200.0,5500.0,2335.0,Yes,18.0,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,6,2.8,172.0,5500.0,2280.0,Yes,16.9,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,6,NaN,172.0,5500.0,2535.0,NaN,21.1,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,4,3.5,208.0,5700.0,2545.0,Yes,21.1,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

## Manufacturer

In [4]:
df[df['Make'].isna()==True]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Rev.per.mile,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
32,Ford,Tempo,Compact,10.4,11.3,12.2,22.0,27.0,None,Front,4,2.3,96.0,4200.0,2805.0,Yes,15.9,5.0,177.0,100.0,68.0,NaN,27.5,13.0,NaN,USA,NaN
45,Hyundai,Scoupe,NaN,9.1,10.0,11.0,26.0,34.0,None,Front,4,1.5,92.0,5550.0,2540.0,Yes,11.9,4.0,166.0,94.0,64.0,34.0,23.5,9.0,2285.0,non-USA,NaN
73,Pontiac,Sunbird,Compact,9.4,11.1,12.8,NaN,31.0,None,NaN,4,2.0,110.0,5200.0,2665.0,Yes,15.2,5.0,181.0,101.0,66.0,39.0,25.0,13.0,NaN,USA,NaN

In [5]:
df[df['Manufacturer'].isna()==True]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Rev.per.mile,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,6,3.2,200.0,5500.0,2335.0,Yes,18.0,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
19,NaN,Concorde,Large,18.4,18.4,18.4,20.0,28.0,Driver & Passenger,Front,6,3.3,153.0,5300.0,1990.0,No,18.0,6.0,203.0,113.0,74.0,NaN,31.0,15.0,3515.0,USA,Chrylser Concorde
49,NaN,SC300,Midsize,34.7,35.2,35.6,18.0,23.0,Driver & Passenger,Rear,6,3.0,225.0,6000.0,2510.0,Yes,NaN,4.0,191.0,106.0,71.0,39.0,25.0,9.0,3515.0,non-USA,Lexus SC300
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,5,2.4,168.0,6200.0,NaN,Yes,19.3,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [6]:
df['Make'].str.split(' ').str[0]

0          Acura
1          Acura
2           Audi
3           Audi
4            BMW
         ...
88    Volkswagen
89    Volkswagen
90    Volkswagen
91         Volvo
92         Volvo
Name: Make, Length: 93, dtype: object

In [7]:
df['Manufacturer'] = df['Manufacturer'].fillna({1:'Acura ',19:'Chrylser ',49:'Lexus ',92:'Volvo '},axis=0)

In [8]:
df['Manufacturer'].isna().sum()

0

## dropping columns

In [9]:
drop_columns = ['Make','Origin','Turn.circle','Luggage.room','Rev.per.mile','Model']

In [10]:
df.drop(drop_columns,axis=1,inplace=True)

In [11]:
df.columns

Index(['Manufacturer', 'Type', 'Min.Price', 'Price', 'Max.Price', 'MPG.city',
       'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders', 'EngineSize',
       'Horsepower', 'RPM', 'Man.trans.avail', 'Fuel.tank.capacity',
       'Passengers', 'Length', 'Wheelbase', 'Width', 'Rear.seat.room',
       'Weight'],
      dtype='object')

In [12]:
df.isna().sum()

Manufacturer          0
Type                  3
Min.Price             7
Price                 2
Max.Price             5
MPG.city              9
MPG.highway           2
AirBags               6
DriveTrain            7
Cylinders             5
EngineSize            2
Horsepower            7
RPM                   3
Man.trans.avail       5
Fuel.tank.capacity    8
Passengers            2
Length                4
Wheelbase             1
Width                 6
Rear.seat.room        4
Weight                7
dtype: int64

## Imputing Cylinder

In [13]:
df[df['Cylinders'].isna()==True]

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
12,Chevrolet,Compact,11.4,11.4,11.4,25.0,34.0,Driver only,Front,NaN,2.2,110.0,5200.0,Yes,15.6,5.0,184.0,103.0,68.0,26.0,2785.0
13,Chevrolet,Sporty,13.4,15.1,16.8,19.0,28.0,Driver & Passenger,Rear,NaN,3.4,160.0,4600.0,Yes,NaN,4.0,193.0,101.0,74.0,25.0,3240.0
26,Dodge,Midsize,14.8,15.6,16.4,21.0,NaN,Driver only,Front,NaN,2.5,100.0,4800.0,No,16.0,6.0,192.0,105.0,69.0,30.5,3080.0
63,Nissan,Small,8.7,11.8,14.9,29.0,33.0,Driver only,Front,NaN,1.6,110.0,6000.0,Yes,13.2,5.0,170.0,96.0,66.0,26.0,NaN
91,Volvo,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,NaN,2.3,114.0,5400.0,Yes,15.8,5.0,190.0,104.0,67.0,29.5,2985.0

In [14]:
df['Cylinders'].unique()

array(['4', '6', '8', nan, '3', 'rotary', '5'], dtype=object)

In [15]:
df['Cylinders'].value_counts()

4         45
6         30
8          7
3          3
5          2
rotary     1
Name: Cylinders, dtype: int64

In [16]:
df['Cylinders'].fillna(df['Cylinders'].mode()[0],inplace=True)

In [17]:
df['Cylinders']=df['Cylinders'].replace("rotary",1)

## Imputing Airbag

In [18]:
df[df['AirBags'].isna()== True]

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
4,BMW,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,4,3.5,208.0,5700.0,Yes,21.1,4.0,186.0,109.0,69.0,27.0,3640.0
11,Chevrolet,Compact,8.5,13.4,18.3,25.0,36.0,NaN,NaN,4,2.2,NaN,5200.0,Yes,15.2,5.0,182.0,101.0,66.0,25.0,2490.0
30,Ford,Small,6.9,7.4,7.9,31.0,33.0,NaN,Front,4,1.3,63.0,5000.0,Yes,10.0,4.0,141.0,90.0,63.0,26.0,1845.0
47,Infiniti,Midsize,45.4,47.9,NaN,17.0,22.0,NaN,Rear,8,4.5,278.0,6000.0,No,22.5,5.0,200.0,113.0,72.0,29.0,4000.0
77,Saab,Compact,20.3,28.7,37.1,20.0,26.0,NaN,Front,4,2.1,140.0,6000.0,Yes,18.0,5.0,NaN,99.0,67.0,26.5,2775.0
84,Toyota,Sporty,14.2,18.4,22.6,25.0,32.0,NaN,Front,4,2.2,135.0,NaN,Yes,15.9,4.0,174.0,99.0,69.0,23.0,2950.0

In [19]:
df['AirBags'].value_counts()

Driver only           39
None                  32
Driver & Passenger    16
Name: AirBags, dtype: int64

In [20]:
df['AirBags'].fillna(df['AirBags'].mode()[0],inplace=True)

## Imputing MPG

In [21]:
df['MPG.city'].unique()

array([25., 18., 20., 19., 22., 16., nan, 15., 17., 23., 29., 21., 31.,
       46., 30., 24., 42., 26., 28., 33., 39., 32.])

In [22]:
df['MPG.city'].mode()[0]

18.0

In [23]:
df['MPG.highway'].mode()[0]

26.0

In [24]:
df['MPG.city'] = df['MPG.city'].fillna(df['MPG.city'].mode()[0])
df['MPG.highway'] = df['MPG.highway'].fillna(df['MPG.highway'].mode()[0])

## Imputing Type

In [25]:
df['Type'].unique()

array(['Small', 'Midsize', 'Compact', 'Large', 'Sporty', 'Van', nan],
      dtype=object)

In [26]:
df[df['Type'].isna()==True]

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
45,Hyundai,NaN,9.1,10.0,11.0,26.0,34.0,None,Front,4,1.5,92.0,5550.0,Yes,11.9,4.0,166.0,94.0,64.0,23.5,2285.0
74,Pontiac,NaN,14.0,17.7,21.4,19.0,28.0,Driver & Passenger,Rear,6,NaN,160.0,4600.0,Yes,15.5,4.0,196.0,101.0,75.0,25.0,3240.0
82,Suzuki,NaN,7.3,8.6,NaN,39.0,43.0,None,Front,3,1.3,70.0,6000.0,Yes,10.6,4.0,161.0,93.0,NaN,27.5,1965.0

In [27]:
df['Type'] = df['Type'].fillna('Midsize')

In [28]:
df['Type'].isna().sum()

0

In [29]:
df.shape

(93, 21)

In [30]:
df.columns

Index(['Manufacturer', 'Type', 'Min.Price', 'Price', 'Max.Price', 'MPG.city',
       'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders', 'EngineSize',
       'Horsepower', 'RPM', 'Man.trans.avail', 'Fuel.tank.capacity',
       'Passengers', 'Length', 'Wheelbase', 'Width', 'Rear.seat.room',
       'Weight'],
      dtype='object')

In [31]:
df.isna().sum()

Manufacturer          0
Type                  0
Min.Price             7
Price                 2
Max.Price             5
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            7
Cylinders             0
EngineSize            2
Horsepower            7
RPM                   3
Man.trans.avail       5
Fuel.tank.capacity    8
Passengers            2
Length                4
Wheelbase             1
Width                 6
Rear.seat.room        4
Weight                7
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Type                93 non-null     object
 2   Min.Price           86 non-null     float64
 3   Price               91 non-null     float64
 4   Max.Price           88 non-null     float64
 5   MPG.city            93 non-null     float64
 6   MPG.highway         93 non-null     float64
 7   AirBags             93 non-null     object
 8   DriveTrain          86 non-null     object
 9   Cylinders           93 non-null     object
 10  EngineSize          91 non-null     float64
 11  Horsepower          86 non-null     float64
 12  RPM                 90 non-null     float64
 13  Man.trans.avail     88 non-null     object
 14  Fuel.tank.capacity  85 non-null     float64
 15  Passengers          91 non-null     float64
 16  Length              89 non-null     float64
 17  Wheelbase           92 non-null     float64
 18  Width               87 non-null     float64
 19  Rear.seat.room      89 non-null     float64
 20  Weight              86 non-null     float64
dtypes: float64(15), object(6)
memory usage: 15.4+ KB

In [33]:
df.head()

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
0,Acura,Small,12.9,15.9,18.8,25.0,31.0,None,Front,4,1.8,140.0,6300.0,Yes,13.2,5.0,177.0,102.0,68.0,26.5,2705.0
1,Acura,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,6,3.2,200.0,5500.0,Yes,18.0,5.0,195.0,115.0,71.0,30.0,3560.0
2,Audi,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,6,2.8,172.0,5500.0,Yes,16.9,5.0,180.0,102.0,67.0,28.0,3375.0
3,Audi,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,6,NaN,172.0,5500.0,NaN,21.1,6.0,193.0,106.0,NaN,31.0,3405.0
4,BMW,Midsize,NaN,30.0,NaN,22.0,30.0,Driver only,Rear,4,3.5,208.0,5700.0,Yes,21.1,4.0,186.0,109.0,69.0,27.0,3640.0

In [34]:
df1 = df[['Max.Price','Min.Price','Price']]
df1= df1.fillna(0)
df1['Avg_price'] = np.average([df1['Max.Price'],df1['Min.Price']],axis=0)
df1.head()

   Max.Price  Min.Price  Price  Avg_price
0       18.8       12.9   15.9      15.85
1       38.7       29.2   33.9      33.95
2       32.3       25.9   29.1      29.10
3       44.6        0.0   37.7      22.30
4        0.0        0.0   30.0       0.00

## Imputing Price

In [35]:
df[df['Price'].isna()==True]

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
78,Saturn,Small,9.2,NaN,12.9,18.0,38.0,Driver only,Front,4,1.9,85.0,5000.0,Yes,12.8,5.0,176.0,102.0,68.0,26.5,2495.0
85,Toyota,Midsize,15.2,NaN,21.2,22.0,29.0,Driver only,NaN,4,2.2,130.0,5400.0,NaN,18.5,5.0,188.0,103.0,70.0,28.5,3030.0

In [36]:
df['Price'].isna().sum()

2

In [37]:
df['Max.Price'].fillna(0,inplace=True)

df['Min.Price'].fillna(0,inplace=True)

In [38]:
# # df['Price'] = df['Price'].replace(np.average([df1['Max.Price'],df1['Min.Price']],axis=0))
# df.loc[(df.Price == None), 'Price'] = np.average([df['Max.Price'],df['Min.Price']],axis=0)

In [39]:
df[['Price']]

    Price
0    15.9
1    33.9
2    29.1
3    37.7
4    30.0
..    ...
88   19.7
89   20.0
90   23.3
91   22.7
92   26.7

[93 rows x 1 columns]

In [40]:
df['Price'] = np.average([df['Max.Price'],df['Min.Price']],axis=0)

In [41]:
df[df['Price']==0]

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
4,BMW,Midsize,0.0,0.0,0.0,22.0,30.0,Driver only,Rear,4,3.5,208.0,5700.0,Yes,21.1,4.0,186.0,109.0,69.0,27.0,3640.0

In [42]:
df.drop(4,axis=0,inplace=True)

## Imputing DriveTrain

In [43]:
df[df.DriveTrain.isna()==True]

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
3,Audi,Midsize,0.0,22.30,44.6,19.0,26.0,Driver & Passenger,NaN,6,NaN,172.0,5500.0,NaN,21.1,6.0,193.0,106.0,NaN,31.0,3405.0
5,Buick,Midsize,14.2,15.75,17.3,22.0,31.0,Driver only,NaN,4,2.2,110.0,5200.0,No,16.4,6.0,189.0,105.0,69.0,28.0,NaN
11,Chevrolet,Compact,8.5,13.40,18.3,25.0,36.0,Driver only,NaN,4,2.2,NaN,5200.0,Yes,15.2,5.0,182.0,101.0,66.0,25.0,2490.0
50,Lincoln,Midsize,33.3,34.30,35.3,17.0,26.0,Driver & Passenger,NaN,6,3.8,160.0,4400.0,No,18.4,6.0,205.0,109.0,73.0,30.0,3695.0
56,Mazda,Sporty,32.5,32.50,32.5,17.0,25.0,Driver only,NaN,1,1.3,255.0,6500.0,Yes,20.0,2.0,169.0,96.0,69.0,NaN,NaN
73,Pontiac,Compact,9.4,11.10,12.8,18.0,31.0,None,NaN,4,2.0,110.0,5200.0,Yes,15.2,5.0,181.0,101.0,66.0,25.0,NaN
85,Toyota,Midsize,15.2,18.20,21.2,22.0,29.0,Driver only,NaN,4,2.2,130.0,5400.0,NaN,18.5,5.0,188.0,103.0,70.0,28.5,3030.0

In [44]:
df.DriveTrain.unique()

array(['Front', nan, 'Rear', '4WD'], dtype=object)

In [45]:
# Drive_train = ['4WD','Front','4WD','4WD','Rear','Real','Front']
# for i in Drive_train:
#     if df['DriveTrain'].isna():
#         df['DriveTrain'] = df['DriveTrain'].str.replace(None,Drive_train[i])

In [46]:
df['DriveTrain'] = df['DriveTrain'].fillna({3:'4WD',5:'Front',11:'4WD',50:'4WD',56:'Rear',73:'Rear',85:'Front'},axis=0)

In [47]:
df.DriveTrain.isna().sum()

0

In [48]:
df[df['Max.Price'].isna()==True ]

Empty DataFrame
Columns: [Manufacturer, Type, Min.Price, Price, Max.Price, MPG.city, MPG.highway, AirBags, DriveTrain, Cylinders, EngineSize, Horsepower, RPM, Man.trans.avail, Fuel.tank.capacity, Passengers, Length, Wheelbase, Width, Rear.seat.room, Weight]
Index: []

In [49]:
df.isna().sum()

Manufacturer          0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            2
Horsepower            7
RPM                   3
Man.trans.avail       5
Fuel.tank.capacity    8
Passengers            2
Length                4
Wheelbase             1
Width                 6
Rear.seat.room        4
Weight                7
dtype: int64

In [50]:
df.head()

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
0,Acura,Small,12.9,15.85,18.8,25.0,31.0,None,Front,4,1.8,140.0,6300.0,Yes,13.2,5.0,177.0,102.0,68.0,26.5,2705.0
1,Acura,Midsize,29.2,33.95,38.7,18.0,25.0,Driver & Passenger,Front,6,3.2,200.0,5500.0,Yes,18.0,5.0,195.0,115.0,71.0,30.0,3560.0
2,Audi,Compact,25.9,29.10,32.3,20.0,26.0,Driver only,Front,6,2.8,172.0,5500.0,Yes,16.9,5.0,180.0,102.0,67.0,28.0,3375.0
3,Audi,Midsize,0.0,22.30,44.6,19.0,26.0,Driver & Passenger,4WD,6,NaN,172.0,5500.0,NaN,21.1,6.0,193.0,106.0,NaN,31.0,3405.0
5,Buick,Midsize,14.2,15.75,17.3,22.0,31.0,Driver only,Front,4,2.2,110.0,5200.0,No,16.4,6.0,189.0,105.0,69.0,28.0,NaN

## Imputing remaining Values

In [51]:
df['EngineSize'].fillna(df['EngineSize'].mode()[0],inplace=True)

In [52]:
df[df['Horsepower'].isna()== True]

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
11,Chevrolet,Compact,8.5,13.40,18.3,25.0,36.0,Driver only,4WD,4,2.2,NaN,5200.0,Yes,15.2,5.0,182.0,101.0,66.0,25.0,2490.0
14,Chevrolet,Midsize,13.4,15.90,18.4,18.0,29.0,None,Front,4,2.2,NaN,5200.0,No,16.5,6.0,NaN,108.0,71.0,28.5,3195.0
16,Chevrolet,Van,14.7,16.65,18.6,15.0,20.0,None,4WD,6,4.3,NaN,4000.0,No,27.0,8.0,194.0,111.0,78.0,33.5,4025.0
29,Eagle,Large,0.0,10.60,21.2,20.0,28.0,Driver & Passenger,Front,6,3.5,NaN,5800.0,No,18.0,6.0,202.0,113.0,74.0,30.0,3490.0
36,Ford,Midsize,15.6,20.20,24.8,21.0,30.0,Driver only,Front,6,3.0,NaN,4800.0,No,NaN,5.0,192.0,106.0,71.0,27.5,3325.0
41,Honda,Small,8.4,12.10,15.8,42.0,46.0,Driver only,Front,4,1.5,NaN,5900.0,Yes,11.9,4.0,173.0,NaN,67.0,28.0,NaN
65,Nissan,Van,16.7,19.10,21.5,17.0,23.0,None,Front,6,3.0,NaN,4800.0,No,20.0,7.0,190.0,112.0,74.0,27.0,4100.0

In [53]:
df['Horsepower'].fillna(df['Horsepower'].mean(),inplace=True)

In [54]:
df[df['RPM'].isna()== True]

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
48,Lexus,Midsize,27.5,27.95,28.4,18.0,24.0,Driver only,Front,6,3.0,185.0,NaN,Yes,18.5,5.0,188.0,103.0,70.0,27.5,3510.0
81,Subaru,Compact,16.3,19.50,22.7,23.0,30.0,Driver only,4WD,4,2.2,130.0,NaN,Yes,15.9,5.0,179.0,102.0,67.0,27.0,3085.0
84,Toyota,Sporty,14.2,18.40,22.6,25.0,32.0,Driver only,Front,4,2.2,135.0,NaN,Yes,15.9,4.0,174.0,99.0,69.0,23.0,2950.0

In [55]:
# df['RPM'].unique()
# df['RPM'].fillna(6500,inplace=True)
df['RPM'].fillna(df['RPM'].mode()[0],inplace=True)

In [56]:
df['Man.trans.avail'].fillna(df['Man.trans.avail'].mode()[0],inplace=True)

In [57]:
df[df['Fuel.tank.capacity'].isna()== True]

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
6,Buick,Large,19.9,9.95,0.0,19.0,28.0,Driver only,Front,6,3.8,170.000000,4800.0,No,NaN,6.0,200.0,111.0,74.0,30.5,3470.0
13,Chevrolet,Sporty,13.4,15.10,16.8,19.0,28.0,Driver & Passenger,Rear,4,3.4,160.000000,4600.0,Yes,NaN,4.0,193.0,101.0,74.0,25.0,3240.0
22,Dodge,Small,7.9,9.25,10.6,29.0,33.0,None,Front,4,1.5,92.000000,6000.0,Yes,NaN,5.0,174.0,98.0,66.0,NaN,2270.0
24,Dodge,Compact,11.9,13.30,14.7,22.0,27.0,Driver only,Front,4,2.5,100.000000,4800.0,Yes,NaN,6.0,181.0,104.0,68.0,30.5,2970.0
36,Ford,Midsize,15.6,20.20,24.8,21.0,30.0,Driver only,Front,6,3.0,143.247059,4800.0,No,NaN,5.0,192.0,106.0,71.0,27.5,3325.0
40,Honda,Sporty,17.0,19.85,22.7,24.0,31.0,Driver & Passenger,Front,4,2.3,160.000000,5800.0,Yes,NaN,4.0,175.0,100.0,70.0,23.5,2865.0
49,Lexus,Midsize,34.7,35.15,35.6,18.0,23.0,Driver & Passenger,Rear,6,3.0,225.000000,6000.0,Yes,NaN,4.0,191.0,106.0,71.0,25.0,3515.0
68,Oldsmobile,Midsize,14.2,16.30,18.4,23.0,31.0,Driver only,Front,4,2.2,110.000000,5200.0,No,NaN,5.0,190.0,105.0,70.0,28.0,2890.0

In [58]:
df['Fuel.tank.capacity'].fillna(df['Fuel.tank.capacity'].median(),inplace=True)

In [59]:
df['Passengers'].fillna(df['Passengers'].mode()[0],inplace=True)

In [60]:
df['Length'].mode()[0]

190.0

In [61]:
df['Length'].unique()

array([177., 195., 180., 193., 189., 200., 216., 198., 206., 204., 182.,
       184.,  nan, 178., 194., 214., 179., 203., 183., 174., 172., 181.,
       175., 192., 202., 141., 171., 176., 212., 151., 164., 173., 185.,
       168., 166., 188., 191., 205., 219., 190., 169., 199., 170., 201.,
       196., 146., 161., 162., 187., 163., 159.])

In [62]:
df['Length'].fillna(df['Length'].mode()[0],inplace=True)

In [63]:
# ['Width','Rear.seat.room','Weight']

In [64]:
df['Wheelbase'].fillna(df['Wheelbase'].mean(),inplace=True)
df['Width'].fillna(df['Width'].mean(),inplace=True)
df['Rear.seat.room'].fillna(df['Rear.seat.room'].mean(),inplace=True)
df['Weight'].fillna(df['Weight'].mean(),inplace=True)

In [65]:
df.isna().sum()

Manufacturer          0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Rear.seat.room        0
Weight                0
dtype: int64

# Encoding

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 92
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        92 non-null     object
 1   Type                92 non-null     object
 2   Min.Price           92 non-null     float64
 3   Price               92 non-null     float64
 4   Max.Price           92 non-null     float64
 5   MPG.city            92 non-null     float64
 6   MPG.highway         92 non-null     float64
 7   AirBags             92 non-null     object
 8   DriveTrain          92 non-null     object
 9   Cylinders           92 non-null     object
 10  EngineSize          92 non-null     float64
 11  Horsepower          92 non-null     float64
 12  RPM                 92 non-null     float64
 13  Man.trans.avail     92 non-null     object
 14  Fuel.tank.capacity  92 non-null     float64
 15  Passengers          92 non-null     float64
 16  Length              92 non-null     float64
 17  Wheelbase           92 non-null     float64
 18  Width               92 non-null     float64
 19  Rear.seat.room      92 non-null     float64
 20  Weight              92 non-null     float64
dtypes: float64(15), object(6)
memory usage: 15.8+ KB

In [67]:
df.head()

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
0,Acura,Small,12.9,15.85,18.8,25.0,31.0,None,Front,4,1.8,140.0,6300.0,Yes,13.2,5.0,177.0,102.0,68.000000,26.5,2705.000000
1,Acura,Midsize,29.2,33.95,38.7,18.0,25.0,Driver & Passenger,Front,6,3.2,200.0,5500.0,Yes,18.0,5.0,195.0,115.0,71.000000,30.0,3560.000000
2,Audi,Compact,25.9,29.10,32.3,20.0,26.0,Driver only,Front,6,2.8,172.0,5500.0,Yes,16.9,5.0,180.0,102.0,67.000000,28.0,3375.000000
3,Audi,Midsize,0.0,22.30,44.6,19.0,26.0,Driver & Passenger,4WD,6,3.0,172.0,5500.0,Yes,21.1,6.0,193.0,106.0,69.453488,31.0,3405.000000
5,Buick,Midsize,14.2,15.75,17.3,22.0,31.0,Driver only,Front,4,2.2,110.0,5200.0,No,16.4,6.0,189.0,105.0,69.000000,28.0,3098.294118

In [68]:
df['Man.trans.avail'] = pd.get_dummies(df['Man.trans.avail'],drop_first=True)

In [69]:
df.head()

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight
0,Acura,Small,12.9,15.85,18.8,25.0,31.0,None,Front,4,1.8,140.0,6300.0,1,13.2,5.0,177.0,102.0,68.000000,26.5,2705.000000
1,Acura,Midsize,29.2,33.95,38.7,18.0,25.0,Driver & Passenger,Front,6,3.2,200.0,5500.0,1,18.0,5.0,195.0,115.0,71.000000,30.0,3560.000000
2,Audi,Compact,25.9,29.10,32.3,20.0,26.0,Driver only,Front,6,2.8,172.0,5500.0,1,16.9,5.0,180.0,102.0,67.000000,28.0,3375.000000
3,Audi,Midsize,0.0,22.30,44.6,19.0,26.0,Driver & Passenger,4WD,6,3.0,172.0,5500.0,1,21.1,6.0,193.0,106.0,69.453488,31.0,3405.000000
5,Buick,Midsize,14.2,15.75,17.3,22.0,31.0,Driver only,Front,4,2.2,110.0,5200.0,0,16.4,6.0,189.0,105.0,69.000000,28.0,3098.294118

In [70]:

df[['DriveTrain_Front','DriveTrain_Rear']] = pd.get_dummies(df['DriveTrain'],drop_first=True)

In [71]:
df.head()

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight,DriveTrain_Front,DriveTrain_Rear
0,Acura,Small,12.9,15.85,18.8,25.0,31.0,None,Front,4,1.8,140.0,6300.0,1,13.2,5.0,177.0,102.0,68.000000,26.5,2705.000000,1,0
1,Acura,Midsize,29.2,33.95,38.7,18.0,25.0,Driver & Passenger,Front,6,3.2,200.0,5500.0,1,18.0,5.0,195.0,115.0,71.000000,30.0,3560.000000,1,0
2,Audi,Compact,25.9,29.10,32.3,20.0,26.0,Driver only,Front,6,2.8,172.0,5500.0,1,16.9,5.0,180.0,102.0,67.000000,28.0,3375.000000,1,0
3,Audi,Midsize,0.0,22.30,44.6,19.0,26.0,Driver & Passenger,4WD,6,3.0,172.0,5500.0,1,21.1,6.0,193.0,106.0,69.453488,31.0,3405.000000,0,0
5,Buick,Midsize,14.2,15.75,17.3,22.0,31.0,Driver only,Front,4,2.2,110.0,5200.0,0,16.4,6.0,189.0,105.0,69.000000,28.0,3098.294118,1,0

In [72]:
df.drop('DriveTrain',axis=1,inplace=True)

In [73]:
df['AirBags'].unique()

array(['None', 'Driver & Passenger', 'Driver only'], dtype=object)

In [74]:
df['AirBags']=df['AirBags'].map({'None':1,'Driver only':2,'Driver & Passenger':3})

In [75]:
df.head(
)

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight,DriveTrain_Front,DriveTrain_Rear
0,Acura,Small,12.9,15.85,18.8,25.0,31.0,1,4,1.8,140.0,6300.0,1,13.2,5.0,177.0,102.0,68.000000,26.5,2705.000000,1,0
1,Acura,Midsize,29.2,33.95,38.7,18.0,25.0,3,6,3.2,200.0,5500.0,1,18.0,5.0,195.0,115.0,71.000000,30.0,3560.000000,1,0
2,Audi,Compact,25.9,29.10,32.3,20.0,26.0,2,6,2.8,172.0,5500.0,1,16.9,5.0,180.0,102.0,67.000000,28.0,3375.000000,1,0
3,Audi,Midsize,0.0,22.30,44.6,19.0,26.0,3,6,3.0,172.0,5500.0,1,21.1,6.0,193.0,106.0,69.453488,31.0,3405.000000,0,0
5,Buick,Midsize,14.2,15.75,17.3,22.0,31.0,2,4,2.2,110.0,5200.0,0,16.4,6.0,189.0,105.0,69.000000,28.0,3098.294118,1,0

In [76]:
df['Type'].unique()

array(['Small', 'Midsize', 'Compact', 'Large', 'Sporty', 'Van'],
      dtype=object)

In [77]:
df['Type']=df['Type'].map({'Small':2, 'Midsize':3, 'Compact':1, 'Large':5, 'Sporty':6, 'Van':4})

In [78]:
df.head()

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight,DriveTrain_Front,DriveTrain_Rear
0,Acura,2,12.9,15.85,18.8,25.0,31.0,1,4,1.8,140.0,6300.0,1,13.2,5.0,177.0,102.0,68.000000,26.5,2705.000000,1,0
1,Acura,3,29.2,33.95,38.7,18.0,25.0,3,6,3.2,200.0,5500.0,1,18.0,5.0,195.0,115.0,71.000000,30.0,3560.000000,1,0
2,Audi,1,25.9,29.10,32.3,20.0,26.0,2,6,2.8,172.0,5500.0,1,16.9,5.0,180.0,102.0,67.000000,28.0,3375.000000,1,0
3,Audi,3,0.0,22.30,44.6,19.0,26.0,3,6,3.0,172.0,5500.0,1,21.1,6.0,193.0,106.0,69.453488,31.0,3405.000000,0,0
5,Buick,3,14.2,15.75,17.3,22.0,31.0,2,4,2.2,110.0,5200.0,0,16.4,6.0,189.0,105.0,69.000000,28.0,3098.294118,1,0

In [79]:
df['Manufacturer']=df['Manufacturer'].str.strip()

In [80]:
df.Manufacturer.unique()

array(['Acura', 'Audi', 'Buick', 'Cadillac', 'Chevrolet', 'Chrylser',
       'Chrysler', 'Dodge', 'Eagle', 'Ford', 'Geo', 'Honda', 'Hyundai',
       'Infiniti', 'Lexus', 'Lincoln', 'Mazda', 'Mercedes-Benz',
       'Mercury', 'Mitsubishi', 'Nissan', 'Oldsmobile', 'Plymouth',
       'Pontiac', 'Saab', 'Saturn', 'Subaru', 'Suzuki', 'Toyota',
       'Volkswagen', 'Volvo'], dtype=object)

In [81]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit_transform(df['Manufacturer'])

array([ 0,  0,  1,  1,  2,  2,  2,  2,  3,  3,  4,  4,  4,  4,  4,  4,  4,
        4,  5,  6,  6,  7,  7,  7,  7,  7,  7,  8,  8,  9,  9,  9,  9,  9,
        9,  9,  9, 10, 10, 11, 11, 11, 12, 12, 12, 12, 13, 14, 14, 15, 15,
       16, 16, 16, 16, 16, 17, 17, 18, 18, 19, 19, 20, 20, 20, 20, 21, 21,
       21, 21, 22, 23, 23, 23, 23, 23, 24, 25, 26, 26, 26, 27, 28, 28, 28,
       28, 29, 29, 29, 29, 30, 30])

In [82]:
final_df = df.drop('Manufacturer',axis=1)

In [83]:
df.head()

,Manufacturer,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,Cylinders,EngineSize,Horsepower,RPM,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Rear.seat.room,Weight,DriveTrain_Front,DriveTrain_Rear
0,Acura,2,12.9,15.85,18.8,25.0,31.0,1,4,1.8,140.0,6300.0,1,13.2,5.0,177.0,102.0,68.000000,26.5,2705.000000,1,0
1,Acura,3,29.2,33.95,38.7,18.0,25.0,3,6,3.2,200.0,5500.0,1,18.0,5.0,195.0,115.0,71.000000,30.0,3560.000000,1,0
2,Audi,1,25.9,29.10,32.3,20.0,26.0,2,6,2.8,172.0,5500.0,1,16.9,5.0,180.0,102.0,67.000000,28.0,3375.000000,1,0
3,Audi,3,0.0,22.30,44.6,19.0,26.0,3,6,3.0,172.0,5500.0,1,21.1,6.0,193.0,106.0,69.453488,31.0,3405.000000,0,0
5,Buick,3,14.2,15.75,17.3,22.0,31.0,2,4,2.2,110.0,5200.0,0,16.4,6.0,189.0,105.0,69.000000,28.0,3098.294118,1,0

In [84]:
X = final_df.drop('Price',axis=1)
y = final_df.Price

In [85]:
final_df.isna().sum()

Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Rear.seat.room        0
Weight                0
DriveTrain_Front      0
DriveTrain_Rear       0
dtype: int64

# Train Test Split

In [86]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Model

In [87]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [88]:
model.score(X_test,y_test)

1.0

In [89]:
y_pred = model.predict(X_test)

In [94]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

1.0

In [90]:
import math
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred)
math.sqrt(mse)

1.7084512597725824e-13

In [91]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 92
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Type                92 non-null     int64
 1   Min.Price           92 non-null     float64
 2   Price               92 non-null     float64
 3   Max.Price           92 non-null     float64
 4   MPG.city            92 non-null     float64
 5   MPG.highway         92 non-null     float64
 6   AirBags             92 non-null     int64
 7   Cylinders           92 non-null     object
 8   EngineSize          92 non-null     float64
 9   Horsepower          92 non-null     float64
 10  RPM                 92 non-null     float64
 11  Man.trans.avail     92 non-null     uint8
 12  Fuel.tank.capacity  92 non-null     float64
 13  Passengers          92 non-null     float64
 14  Length              92 non-null     float64
 15  Wheelbase           92 non-null     float64
 16  Width               92 non-null     float64
 17  Rear.seat.room      92 non-null     float64
 18  Weight              92 non-null     float64
 19  DriveTrain_Front    92 non-null     uint8
 20  DriveTrain_Rear     92 non-null     uint8
dtypes: float64(15), int64(2), object(1), uint8(3)
memory usage: 13.9+ KB

In [92]:
df['Cylinders'].unique()

array(['4', '6', '8', '3', 1, '5'], dtype=object)